<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SmartNinjaWDebDev 2017/03 Übungen</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<ul class="list-group">
    <a href="/" class="list-group-item disabled">
        This is my Homepage (as in Homework 15.2 :)</a>

    <a href="/guestbook" class="list-group-item">Homework 18.1: GuestBook</a>
    <a href="/fakebook" class="list-group-item">Exercise 14.1: Upload your Fakebook on GAE</a>
    <a href="/time" class="list-group-item">Homework 15.1: Current time</a>
    <li class="list-group-item">Homework 15.3: Lottery (again)&nbsp&nbsp<a href="/lottery" class="btn btn-info" role="button">Feeling Lucky</a></li>
    <a href="/calc" class="list-group-item">Exercise 16.1: Calculator</a>
    <a href="/secretnumber" class="list-group-item">Homework 16.2: Guess the secret number</a>



</div>

</body>
</html>