<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homework 16.2: Guess the secret number</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <h4>Guess the secret number</h4>
    <p>it is a random number between 1 and 45:
    </p>
{%if not secret%}
    <form class="form-inline" method="post">
        <div class="form-group">
            <input type="number" class="form-control" id="number1" name="number1" value="{{number1}}" required>
        </div>

        <button type="submit" class="btn btn-lg">Try</button>
    </form>
{%endif%}
{%if secret%}
    <form class="form-inline" method="post" action="/secretnumberfollow">
        <div class="form-group">
            <input type="number" class="form-control" id="number1" name="number1" value="{{number1}}" required>
        </div>


        <input type="hidden" name="secret" value="{{secret}}">

        <button type="submit" class="btn btn-lg">Try</button>
    </form>
{%endif%}
</div>
<br><br>
{%if not first%}
    <div class="container">
    {%if right%}
        <h4>You are right <button type="button" class="btn btn-success">{{number}}</button> is the secret number</h4>
        <br><a href="/secretnumber"><button type="button" class="btn btn-lg">New Number</button></a>
    {%endif%}
    {%if not right%}
        <h4>You are wrong <button type="button" class="btn btn-warning">{{number}}</button> is not the secret number</h4>
    {%endif%}
    {%if fail%}
        <button type="button" class="btn btn-danger">{{fail}}</button>
    {%endif%}
<br><br><br><br><br><br><br><br><br>maybeitis:{{secret}}
{%endif%}

</div>

</body>
</html>