.blackback {
    background-color: #31929c;
}

.blacky {
    background-color: #31929c;
    color:#fdd2a8; }

.bigy {
            font-family:"Helvetica";
            font-size: 7em;
    }
.smaly {
            font-family:"Helvetica";
            font-size: 1.5em;
    }

.bottom-buffer {
        margin-bottom:20px;
    }

.top-buffer {
        margin-top:40px;
    }

.bottom-bigbuffer {
        margin-bottom:40px;
    }

.allmessages {
        background-image: url('https://media.giphy.com/media/3oEjHFXd3MCHZidNGU/giphy-downsized-large.gif');
        background-size: cover;
    }

.bordery {
    border: 1px solid grey;
}

.panel,
.panel-heading,
.panel-title,
.panel-body,
.panel-footer {
background-color: rgba(245, 245, 245, 0.3);
}
